@use "../../variables" as *;
.card {
  overflow: hidden;
  border-radius: 0;
  border: 0;
  @media screen and (max-width: $breakpoint-md) {
    transition: none;
  }
  .triangle {
    z-index: 1;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: $white;
    clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
  }
  .card-title {
    z-index: 2;
    font-size: $fontsize-l;
    color: $orange_bistre;
    font-weight: 700;
    position: absolute;
    left: 6px;
    margin-bottom: 0;
  }
  .card-img-wrap {
    margin-bottom: 0;
    .card-img {
      z-index: 1;
      border-radius: 0;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.2);
        @media screen and (max-width: $breakpoint-md) {
          transform: none;
        }
      }
    }
  }
  .card-lower {
    z-index: 2;
    padding: 32px;
    background-color: $white_smoke;
    .card-detail {
      font-size: $fontsize-s;
      margin-bottom: 0;
      line-height: 33px;
    }
    .btn {
      margin: 30px auto 0;
    }
  }
}
