@use "../../variables" as *;
p {
  margin: 0;
}
.news {
  .news-and-events-title {
    & > h2 {
      display: flex;
      align-items: center;
      font-size: $fontsize-l;
      font-family: $fontfamily-mincho;
      margin-bottom: 32px;

      @media (min-width: $breakpoint-lg) {
        font-size: $fontsize-xxl;
      }

      .caption {
        font-size: $fontsize-m;
        font-family: $fontfamily-gothic;
        font-weight: 400;
        margin-left: 16px;
      }
    }
  }
  .news-article-wrap {
    .news-article {
      padding: 20px 26px 20px 20px;
      border: 1px solid $gray_gainsboro;
      border-bottom: none;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .news-link {
        text-decoration: none;
        color: $black;
        transition: color 0.2s ease;
        &:hover {
          color: $gray_nobel;
        }
        .news-date {
          margin-bottom: 10px;
          font-size: $fontsize-xs;
          color: $gray_nobel;
        }
        .news-title {
          font-size: $fontsize-m;
          line-height: 23px;
        }
      }
      &:last-child {
        border-bottom: 1px solid $gray_gainsboro;
      }
    }
  }
  .news-and-events-more {
    cursor: pointer;
    color: $black;
    text-decoration: none;
    font-size: $fontsize-s;
    transition: color 0.2s ease;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 30px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &:hover {
      color: $gray_nobel;
    }
  }
}
