@use "../../variables" as *;

p {
  margin: 0;
}
.news-article-wrap {
  border: 1px solid $gray_gainsboro;
  margin-bottom: 30px;
  .news-link {
    text-decoration: none;
    color: $black;
    transition: color 0.2s ease;
    article {
      padding: 20px;
      border-bottom: 1px solid $gray_gainsboro;
      box-sizing: border-box;
      height: 80.5px;

      &:hover {
        color: $orange-bistre;
      }
      .news-date {
        margin-bottom: 10px;
        font-size: $fontsize-xs;
        color: $gray_nobel;
      }
      .news-title {
        font-size: $fontsize-m;
        line-height: 23px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &:last-child {
      border: none;
    }
  }
}

.news-and-events-more {
  display: flex;
  justify-content: flex-end;
}
